* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero-sections {
    /* min-height: 100vh; */
    background-color: #f99501;
    background-image: url("./image\ copy\ 2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-sections img {
    max-width: 10rem;
}

.hero-sections p {
    font-size: 46px;
    max-width: 400px;
}

.audio {
    margin-left: 10rem;
}

.audio-container {
    background-color: #fbd8a4;
    max-width: 500px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.audio-container img {
    width: 35px;
}

audio::-webkit-media-controls-panel {
    background-color: #fbd8a4;
}

/* second sections  */

.laxmi-janesh-ji ,
.laxmi-janesh-ji-2,
.two-photos
{
    background-color: #F99501;
    /* display: flow-root; */
    /* width: 100%; */
    padding-top: 1rem;
    padding-inline: 1rem;
}

.laxmi-janesh-ji h1 {
    /* margin-top: 1rem; */
    font-size: 34px;
    font-weight: 400;
    text-align: center;
}

.laxmi-janesh-img {
    max-width: 1364.87px;
    display: block;
    width: 100%;
    margin-inline: auto;
}

.horizontal-divider {
    display: flex;
    align-items: center;
    gap: 12px;
    max-width: 900px;
    margin-inline: auto;
    margin-bottom: 2rem;

}

.horizontal-line {
    height: 4px;
    background-color: #fbd8a4;
    width: 468px;
    /* margin-bottom: 1rem; */
}

.circal {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #fbd8a4;
    flex-shrink: 0;
}

.white-cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-cart {
    background-color: #fff;
    max-width: 855px;
    padding: 4rem;
    border-radius: 20px;
    display: inline-block;
}

.white-cart p {
    font-size: 2rem;
}

.little-girl {
    max-width: 300.89px;
    margin-left: -5rem;
}

.imgss{
    max-width: 900px;
    background-color:  #FFF6E9;   
    padding: 2rem;
    border-radius: 20px;
    display: flex;
    margin-inline: auto;
}
.imgss img{
    width: 50%;
}

.thankyou{
    /* gap: 2rem; */
    margin-top: 2rem;
    padding-left: 20px;
}
.thankyou h2{
    margin-top: 1rem;
}

@media (width < 840px) {
    .first-deepak {
        display: block;
        margin-left: auto;
    }

    .hero-sections {
        padding: 10px;
    }

    .hero-sections p {
        font-size: 30px;
    }
    .second-deepak,
    .soul-music {
        display: none;
    }
    .audio {
        margin-left: 0;
    }
    .hero-sections img {
        /* margin-bottom: 1rem;
         */
        padding-left: 10px;
    }

    .audio-container {
        max-width: max-content;
        margin-top: 10px;
    }

    .audio-container img {
        min-width: none;
    }
    .white-cart {
        /* background-color: #fff; */
        max-width: 600px;
        padding: 2rem;
        border-radius: 15px;
        display: inline-block;
    }
    
    .white-cart p {
        font-size: 1.5rem;
    }
    
    .little-girl {
        max-width: 250.89px;
        margin-left: -2.5rem;
    }


    .imgss{
        max-width: 700px; 
        padding: 1.5rem;   
    }
}


@media(max-width : 540px) {
    .hero-sections p {
        font-size: 24px;
    }

    .first-deepak {
        width: 100%;
        max-width: 300px;
    }

    .white-cart {
        /* background-color: #fff; */
        max-width: 300px;
        padding: 1rem;
        /* border-radius: 20px; */
        display: inline-block;
    }

    .white-cart p {
        font-size: 0.8rem;
    }

    .little-girl {
        max-width: 103px;
        margin-left: -2rem;
    }

    .imgss{
        max-width:450px;
        padding: .8rem;
    }
}